#32 char binhex encoded AES encryption key
S4_AES_ENCRYPTION_KEY=
#DB User
DB_KULLANICI=
#DB Password
DB_SIFRE=
#SMTP Password
SMTP_SIFRE=
#SMTP AWS Key (if AWS SES available)
SMTP_AWS_K_ADI=
#SMTP AWS Secret (if AWS SES available)
SMTP_AWS_SIFRE=
#Microsoft Translator Key
MICROSOFT_TRANSLATOR_KEY=
#Microsoft Translator Region
MICROSOFT_TRANSLATOR_REGION=
#DeepL API Key
DEEPL_API_KEY=
# Development environment (local, production)
APP_ENV=
# Update Path
UPDATE_PATH=https://n0n1.tr/install/update

# ─── PREMIUM / LICENSE OPTIONS ───────────────────────────────────────────────
LC_REMOTE_URL=
# Ajans lisans API Anahtarı
LC_API_KEY=
# İmza Doğrulama (Verify) Anahtarı
LC_VERIFY_KEY=