.env
.vscode/
.github/
.agent/
/*.sql
*.code-workspace
*.log
.htaccess
rlv_.php
vendor/
**/_dev/
api/oauth/google_certs.json
dosya/**
!dosya/**/
resim/**
!resim/**/
documentation/md/
documentation/py/
__install_db_sample/*
.backups/*
!**/ .gitkeep